

body {
    background-color: #e9e9db;
    color: rgb(51, 48, 48);
    padding: 20px;
    font-family: Arial;
    /* text-align: center; */
  }

  header {
    background-color: #5d48c7;
    color: rgb(51, 48, 48);
    padding: 20px;
    font-family: Arial;
    /* text-align: center; */
  }